body{
    color: rgb(4, 59, 9);

    background-color: black;
    background-image: url(bg.jpg) ;
    background-size: cover;
}
p {
     font-weight: bold;
     font-size: 45px ;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;

}
#p1 {
     font-style: oblique;
     font-size: 23px;
}
a {
    text-decoration: none;
    color: black;
    background-color: rgb(118, 23, 29);
    padding: 5px;
    border-width: 5px;
    border-color: rgb(68, 42, 24);
    border-style: solid;
    border-radius: 10px;
    color: white;
}
a:hover{
    color: black;
    background-color: rgb(212, 101, 70);
}
table, h1, a, #vissza {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(19, 49, 41);
    font-size: 32px;
}
table {
    font-size: x-large;    
    border-spacing: 4px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    padding: 7px;
    margin: auto;
}
td {
    box-shadow: 1px 1px 4px black inset;
    background-color: rgb(127, 61, 61);
    text-align: center;
    border: solid 3px rgb(34, 124, 44);
    padding: 4px;
    color: rgb(32, 255, 2);
    cursor: pointer;
    border-radius: 9px;
}
td:hover {
    background-color: rgb(255, 149, 10);
    color: rgb(255, 252, 66);
    text-shadow: 1px 1px 5px yellow;
}
td.osz {
    font-size: 12px;
}
td.osz > span {
    font-weight: normal;
    font-family: Arial;
    font-size: 10px;
    text-shadow: 1px 1px 4px black;
    color: rgb(30, 255, 0);
}
th {
    width: 120px;
    background-color: rgb(64, 202, 126);
    color: rgb(127, 61, 61);
    padding: 7px;
    border-radius: 10px;
}