#kor {
    animation-name: patog;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes patog {
    0% {cx: 50px; }
    50% {cx: 500px;}
}

#rez {
    background-color: rgb(88, 6, 72);
    border: solid 2px lightblue;
    border-radius: 100%;
    height: 210px;
    position: absolute;
    top: 175px; 
    width: 180px; 
    animation: rezsi 1s ease-in-out infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes rezsi {
    0% {
        left: 25%;
        transform: scaleX(79.5%) scaleY(65%);
    }
    100% {
        left: 55%;
    }
}


body {
    text-align: center;
    background-color: rgb(127, 61, 61);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
    border: solid 9px rgb(68, 42, 24);
}
table {
    width: 100%;
}
.l {
    text-align: left;
}
td.c {
    text-align: center;
}
td.k {
    width: 100px;
}
td.r {
    text-align: right;
}
a {
    text-decoration: none;
    color: black;
    background-color: rgb(118, 23, 29);
    padding: 5px;
    border-width: 5px;
    border-color: rgb(68, 42, 24);
    border-style: solid;
    border-radius: 10px;
    color: white;
}
a:hover{
    color: black;
    background-color: rgb(212, 101, 70);
}